li{
    list-style: none;
}
.item-box{
    margin: 0 auto 30px auto;
    padding: 8px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    border: 1px solid #000;
}
